.unit {
    width : 100% ;
    background-color: skyblue;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .unitDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; 
    
  }
  
  select, .unitDiv > div {
    display: inline-flex;
    width: 40%;
    height: 40px;
    margin: 10px;
    text-align: center;
  }
  
  input{
    text-align: center;
  }


  input[readonly] {
    background-color: red;
    text-align: center;
  }